<style>
		body    { font-family: verdana,arial,helvetica,sans-serif; color: #000000; background-color: #ffffff; }
		td      { font-family: verdana,arial,helvetica,sans-serif; }
		pre     { font-family: courier new, courier; }
		form    { font-family: helvetica,arial,sans-serif; }
		i       { font-style: italic; }
		b       { font-style: bold; }
		hl      { font-family: verdana,arial,helvetica,sans-serif; font-style: bold; }
		small   { font-size: smaller; }
		font.high          { font-family: courier new, courier; color: #000000; background-color: #ffff66;}
		font.high2         { background-color: #ffff66;}
		font.comment       { font-family: courier new, courier; font-style: italic; color: green;}
		font.preprocessor  { font-family: courier new, courier; color: blue;}
		font.storagekw     { font-family: courier new, courier; color: red;}
		font.constant      { font-family: courier new, courier; color: green;}
		font.num           { font-family: courier new, courier; font-style: normal; color: #000000;}
		a.nav              { font-family: verdana,arial,helvetica,sans-serif; color: #FFFFFF; }
</style>
