<style>
		body    { font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt; color: #000000; background-color: #ffffff; }
		td      { font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt; }
		pre     { font-family: courier new, courier; font-size: 10pt; }
		form    { font-family: helvetica,arial,sans-serif; font-size: 10pt; }
		i       { font-style: italic; }
		b       { font-style: bold; }
		hl      { font-family: verdana,arial,helvetica,sans-serif; font-style: bold; font-size: 12pt; }
		small   { font-size: smaller; }
		font.high  { font-family: courier new, courier; font-size: 10pt; color: #000000; background-color: #ffff66;}
		font.high2 { background-color: #ffff66;}
		font.comment  { font-family: courier new, courier; font-size: 10pt; font-style: italic; color: green;}
		font.preprocessor  { font-family: courier new, courier; font-size: 10pt; color: blue;}
		font.storagekw  { font-family: courier new, courier; font-size: 10pt; color: red;}
		font.constant  { font-family: courier new, courier; font-size: 10pt; color: green;}
		font.num  { font-family: courier new, courier; font-size: 10pt; font-style: normal; color: #000000;}
		a.nav   { font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt; color: #FFFFFF; }
</style>
