DirectoryIndex index.phtml index.php index.html
AddType application/x-httpd-php .phtml

# Over time, files got moved around in the webdirectory
# To provide users a consistent experience a number
# of redirects are set up from obsolete locations
# to the best-matching new locations. This will
# reduce the number of "page not found" errors
# users will get due to external sites linking
# to obsolete locations.

# The old website was kept here for historical purposes.
# Any attempt to access it will be redirected to the
# new site's main page.
RedirectMatch permanent /old-website/* http://www.gnucash.org

# Images were once stored in /externals, while they are now in /images
# Redirect some that get a lot of "not found hits"
Redirect permanent /externals/banner5.png /images/banner5.png

# Non-English versions of the site used to be accessed via
# a language path specifier. This now uses a get variable.
RedirectMatch permanent /nl/(.*)  /$1?lang=nl_NL
