Options MultiViews
DirectoryIndex index.phtml index.php index.html
AddType application/x-httpd-php .phtml
Redirect permanent /en/rss-feed.phtml http://www.gnucash.org/atom.php
Redirect permanent /beta/rss-feed.phtml http://www.gnucash.org/beta/atom.php
