BODY {
   font-family: sans-serif;
   color: black;
   background-color: white;
   border: 0px;
   margin: 0px;
}

IMG {
   border-style: none;
}

.newsborder {
   background-color: #cacaf7;
   color: black;
   border: 2px;
   border-color: silver;
   border-style: ridge;
   padding: 2px;
   margin-bottom: 2em;
}

.newsheader {
   line-height: 2em;
   font-size: large;
}

.featurepanel {
   width: 50%;
   height: 280px;
}

.featureimage {
   float: right;
}

.featureblock {
   background-color: black;
   color: silver;
}

.divider {
   background-color: #ececff;
   text-align: left;
   color: black;
}

TABLE {
   border-width: 2px;
   border-style: ridge;
   border-color: silver;
} 

TR {
   background-color: white;
   color: black;
}

.tblbanner {
   background-color: #cacaf7;
   color: black;
   border-style: none;
}

.featureplay {
   text-align: center;
}

.newsinner {
   background-color: #ffffff;
   padding: 4px;
   color: black;
}

A[href], A[href]:visited
{
  color: rgb(8, 0, 109);
}

#head
{
   background-color: #7F7FAA;
   color: white;
   font-size: small;
   padding: 0.5em;
}

#head A, #tail A
{
   color: white;
}

#tail {
   font-size: small;
   clear: both;
   float: none;
   background-color: #7F7FAA;
   color: white;
   margin-left: 0;
   margin-right: 0;
   min-height: 60px;
}

.tblborder {
   border-style: ridge;
   border-color: silver;
   border-width: 1px;
   background-color: #7F7FAA;
   color: white;
}

.tblheader {
   background-color: #7F7FAA;
   color: white;
   border-width: 1px;
   border-color: silver;
   border-style: ridge;
}

.tbllimit {
   border-style: none;
   background-color: #cacaf7;
   color: black;
   width: 100%;
}

.frametitle {
   background-color: #7F7FAA;
   color: white;
   padding: 5px;
   border-width: 2px;
   border-style: ridge;
   border-color: silver;
}

#gnclogo {
   border-style: none;
   width: 179px;
   height: 45px;
   margin-left: 0;
   margin-top: 0;
   border: 0;
   padding: 0;
}

#news {
   float: left;
   width: 20%;
}

#news LI 
{
  list-style-image: url(webding.png);
}

.highlight {
   background-color: #cacaf7;
   color: black;
   padding-bottom: 0.5em;
}

.othernews {
   background-color: white;
   color: black;
}

.dot	{
   border-style: none;
   width: 8px;
   height: 8px;
   margin-left: 8px;
   margin-right: 8px;
}

#content {
   float: left;
   width: 75%;
   margin-right: 1em;
   padding-right: 1em;
   margin-left: 1%;
}

#language, #location {
   width: 100%;
   text-align: right;
   padding-left: 0.3em;
}

.linktop {
   position: relative;
   top: 0.5em;
}

.history {
   margin-bottom: 2em;
}

#tail P#validation
{
  float: right;
  margin-right: 1em;
}

#tail P#rss
{
  float: left;
  margin-left: 1em;
}

H1
{
  border-bottom: solid thin #7F7FAA;
}
