BODY {
   color: black;
   background-color:#e6e6fa;
   border:0;
   margin:0;
   font-size:80%;
   font-family:"Verdana", Geneva, sans-serif;
   height:100%;
}

#maincol {
   position:relative;
   margin:0;
   padding:0;
}

.newsborder {
   background-color: #cacaf7;
   color: black;
   border: 2px;
   border-color: silver;
   border-style: ridge;
   padding: 2px;
   margin-bottom: 2em;
}

.newsheader {
   line-height: 2em;
   font-size: large;
}

.newscontainer {
   height:100%;
   width:100%;
}

.featurepanel {
   width: 50%;
   height: 280px;
}

.center {
   text-align:center;
}

.justify {
   text-align:justify;
}

.featureimage {
   float: right;
   width: 400px;
   margin: 0 0 1em 1em;
}


.featureborder {
   background: url(../images/icons/gnc-icon.png) no-repeat 99% #cacaf7;
   color: black;
   border: 1px;
   border-color: silver;
   border-style: ridge;
   padding: 2px;
   margin-bottom: 1em;
   -moz-box-shadow: 3px 3px 3px #888888; /* Firefox 3.6 and earlier */
   -webkit-box-shadow: 3px 3px 3px #888888; /* Safari */
   box-shadow: 3px 3px 3px #888888;
   border-radius:5px;
   -moz-border-radius:5px;
}

.featurecontainer {
   clear:right;
}

h1.featuresection {
   font-style:italic;
}

h2.featuretitle {
   margin:2px;
   text-align: left;
   color: black;
}

.divider {
   background-color: #ececff;
   text-align: left;
   color: black;
}

table {
   font-size:40%;
   width:100%;
   border:1px solid silver;
} 

tr {
   background-color: white;
   color: black;
}

dd {
   text-align:justify;
}

.tblbanner {
   background-color: #cacaf7;
   color: black;
   border-style: none;
}

.featureplay {
   text-align: center;
}

.newsinner {
   background-color: #ffffff;
   padding: 4px;
   color: black;
}

a[href], a[href]:visited
{
   color: rgb(8, 0, 109);
}

#head
{
    background: url("../images/shadowhead.png") repeat-x scroll center bottom #7F7FAA;
   color: white;
   font-size: small;
   padding: 0.5em;
   border-bottom: solid thin silver;
}

#tail {
   padding-bottom:20px;
   font-size: 0.8em;
   text-align: center;
   clear: both;
   float: none;
   background:url(../images/shadowfoot.png) repeat-x scroll center top #7F7FAA;
   color: white;
   margin-left: 0;
   margin-right: 0;
   min-height: 60px;
   border-top: solid thin silver;
}

#head a, #tail a
{
   color: white;
}

#head img, #tail img
{
   border:0
}

.tblborder {
   border-style: ridge;
   border-color: silver;
   border-width: 1px;
   background-color: #7F7FAA;
   color: white;
}

.tblheader {
   background-color: #7F7FAA;
   color: white;
   border-width: 1px;
   border-color: silver;
   border-style: ridge;
}

.tbllimit {
   border-style: none;
   background-color: #cacaf7;
   color: black;
   width: 100%;
}

.frametitle {
   background-color: #7F7FAA;
   color: white;
   padding: 5px;
   border-width: 2px;
   border-style: ridge;
   border-color: silver;
}

#gnclogo {
   border-style: none;
   width: 179px;
   height: 45px;
   margin-left: 0;
   margin-top: 0;
   border: 0;
   padding: 0;
}

#news {
   clear: both;
   margin-top:20px;
   float:left;
   min-width: 23%;
   font-size:90%;
}

#news ul
{
   padding-bottom:15px;
   margin-top:20px;
   margin-bottom:0px;
   padding-left:25px;
   padding-right:5px;
}

#news li 
{
   list-style-image: url(../images/webding.png);
}

#news a, #news a:visited {
   color: black;
   text-decoration: underline;
}

#news a:hover,a:active
{
   background-color:#7F7FAA;
   text-decoration:none;
   color:white;
}

.highlight {
   background-color: #cacaf7;
   color: black;
   padding-bottom: 0.5em;
}

.othernews {
   margin-bottom:10px;
   background: url("../images/backg-linktop.png") repeat-x scroll 0 0 white;
   border: solid thin #7F7FAA;
   border-radius: 10px 0 10px 0;
   clear: both;
   float: right;
   width: 190px;
   -moz-border-radius:10px 0 10px 0; /* Firefox 3.6 and earlier */
}

.dot	{
   border-style: none;
   width: 8px;
   height: 8px;
   margin-left: 8px;
   margin-right: 8px;
}

#content {
   margin-top:20px;
   margin-bottom:20px;
   margin-left:10px;
   padding:10px;
   float:left;
   max-width:65%;
   background-color:white;   
   border:solid thin #7F7FAA;
   border-radius:25px;
   -moz-border-radius:25px;
}

#content a
{
   font-weight:bold;
   text-decoration:underline;
   color:black;
}

#content a:hover,a:active
{
   background-color:#7F7FAA;
   text-decoration:none;
   color:white;
}

#location {
   padding-left: 0.3em;
}

#language {
   font-size: 0.9em;
   float: right;
   margin-right: 1em;
}

#language a:hover {
   text-decoration:none;
}

.linktop {
   text-shadow: 1px 1px black;
   color:white;
   margin-left:10px;
   position: relative;
   top: 0.5em;
}

.history {
   margin-bottom: 2em;
}

#tail P#rss
{
   float: left;
   margin-left: 1em;
}

h1
{
   border-bottom: solid thin #7F7FAA;
}

#download {
   float:right;
   margin-left:2em;
   margin-right:2em;
   margin-bottom:1em;
   margin-top:0;
   padding: 0.4em;
   background-color:#7F7FAA;
   border: 1px solid #CACAF7;
   color: white;
   -moz-box-shadow: 5px 5px 5px #888888; /* Firefox 3.6 and earlier */
   -webkit-box-shadow: 5px 5px 5px #888888; /* Safari */
   box-shadow: 10px 10px 5px #888888;
   border-radius:15px;
   -moz-border-radius:15px;
}

.downloadimage {
   float:left;
   width:200px;
   text-align:center;
}

#download h2 {
   margin-top: 0px;
}

#download img {
   vertical-align: middle;
}

#download ul {
   list-style-type:none;
   margin: 0;
   padding-left: 8px;
}

#download li {
   padding-bottom: 8px;
}

#download a, #download a:visited {
   color: white;
   font-weight: bold;
   text-decoration: none;
}

#download a:hover {
   text-decoration: underline;
}

div.dialog {
   clear:right;	
   padding-left: 58px;
   border: 1px solid #7F7FAA;
   margin: 1em 2em;
}

div.warning {
   background: url('../images/icons/gnome-dialog-warning.png') 5px 5px no-repeat #E6E6F7;
   padding-right:20px;
}

div.note {
   background: url('../images/icons/gnome-dialog-information.png') 5px 5px no-repeat #E6E6F7;
   padding-right:20px;
}


span.bold {
   font-weight:bold;
}

.adscontainer
{  
   clear: both;
   float: right;
   margin: 0 5px 0 auto;
   width: 160px;
   background:#dedede;
   padding:10px;
   border:solid thin #7F7FAA;
}

h2.adstitle
{
   font-size:0.9em;
   text-align:center;
}

p.adstext
{
   font-size:0.8em;
   text-align:center;
}

.adsimage
{
   border: 1px solid black;
   -moz-box-shadow: 4px 4px 6px #888888; /* Firefox 3.6 and earlier */
   -webkit-box-shadow: 4px 4px 6px #888888; /* Safari */
   box-shadow: 4px 4px 6px #888888;
}

.adscontainer img:hover {
   border: 1px solid red;
}

.gnucash
{
  font-weight:bold;
  font-style:italic;
  color: #7F7FAA;
}

#develdoc {
   float:right; 	
   margin-left:2em;
   margin-right:2em;
   margin-bottom:1em;
   margin-top:0;
   padding:0.4em;
   background-color:#7F7FAA;
   border: 1px solid #CACAF7;
   color: white;
   -moz-box-shadow: 5px 5px 5px #888888; /* Firefox 3.6 and earlier */
   -webkit-box-shadow: 5px 5px 5px #888888; /* Safari */
   box-shadow: 10px 10px 5px #888888;
   border-radius:15px;
   -moz-border-radius:15px;
}

#stabledoc {
   float:right; 	
   margin-left:2em;
   margin-right:2em;
   margin-bottom:2em;
   margin-top:0;
   padding:0.4em;
   background-color:#7F7FAA;
   border: 1px solid #CACAF7;
   color: white;
   -moz-box-shadow: 5px 5px 5px #888888; /* Firefox 3.6 and earlier */
   -webkit-box-shadow: 5px 5px 5px #888888; /* Safari */
   box-shadow: 10px 10px 5px #888888;
   border-radius:15px;
   -moz-border-radius:15px;
}

h2.download-title {
   margin-top:0px;
   padding-left:40px;
   background: url(../images/icons/download-32x32.png) left no-repeat;
}

.command {
   margin-left:30px;
   margin-right:30px;
   background:#f3f3f3;
   border-style:dashed;
   border-width:1px;
   padding:10px;
}

.imagelist {
   list-style-type:none;
   padding:0px;
   margin:0px;
}

.imagelistitem {
   text-align:justify;
   background-repeat:no-repeat;
   background-position: 0px 5px;
   padding-top:12px;
   padding-bottom:16px;
   padding-left:45px;
}

#mainfeature {
   margin-left:5px;
   margin-right:5px;
   background:url(../images/gnucash-perspective.png) #f3f3f3 95% no-repeat;
   color:black;
   border:1px dotted #7F7FAA;
   padding:1%;
}

#mainfeature ul {
   font-style:italic;
   list-style-image: url(../images/checkmark.png);
   padding: 10px 10px 10px 30px;
   line-height:25px;
   margin-right: 53%;
   background-color: #F3F3F3;
   border-right: thin solid silver;
   font-style: italic;
}

#validator {
   position:relative;
   height:0px;
   left:-43%;
   bottom:-1%;
}

#branding {
   position:fixed;
   height:0;
   right:0;
   top:140px;
   z-index:-1;
}
