BODY {
   font-family: sans-serif;
   color: black;
   background-color: white;
   border: 0px;
   margin: 0px;
}

IMG {
   border-style: none;
}

.newsborder {
   background-color: #cacaf7;
   color: black;
   border: 2px;
   border-color: silver;
   border-style: ridge;
   padding: 2px;
   margin-bottom: 2em;
}

.newsheader {
   line-height: 2em;
   font-size: large;
}

.featurepanel {
   width: 50%;
   height: 280px;
}

.center {
	text-align:center;
}

.justify {
	text-align:justify;
}

.featureimage {
   float: right;
   width: 400px;
   margin: 0 0 1em 1em;
}

.featureblock {
   background-color: black;
   color: silver;
}

.featureborder {
   background-color: #cacaf7;
   color: black;
   border: 1px;
   border-color: silver;
   border-style: ridge;
   padding: 2px;
   margin-bottom: 1em;
}

.featurecontainer {
   width:98%;
   float:right;
}

h1.featuresection {
   font-style:italic;
}

h2.featuretitle {
   margin-top: 2px;
   margin-bottom: 2px;
   margin-left: 2px;
   text-align: left;
   color: black;
}

.gnc-icon {
   height:32px;
   width:32px;
   float:right;
   vertical-align:middle;
   margin-right:10px;
}

.divider {
   background-color: #ececff;
   text-align: left;
   color: black;
}

TABLE {
   border-width: 2px;
   border-style: ridge;
   border-color: silver;
} 

TR {
   background-color: white;
   color: black;
}

.tblbanner {
   background-color: #cacaf7;
   color: black;
   border-style: none;
}

.featureplay {
   text-align: center;
}

.newsinner {
   background-color: #ffffff;
   padding: 4px;
   color: black;
}

A[href], A[href]:visited
{
  color: rgb(8, 0, 109);
}

#head
{
   background:url(shadowhead.png) repeat-x #7F7FAA bottom;
   color: white;
   font-size: small;
   padding: 0.5em;
}

#head A, #tail A
{
   color: white;
}

#tail {
   padding: 0.01em;
   font-size: small;
   text-align: center;
   clear: both;
   float: none;
   background:url(shadowfoot.png) repeat-x #7F7FAA top;
   color: white;
   margin-left: 0;
   margin-right: 0;
   min-height: 60px;
}

.tblborder {
   border-style: ridge;
   border-color: silver;
   border-width: 1px;
   background-color: #7F7FAA;
   color: white;
}

.tblheader {
   background-color: #7F7FAA;
   color: white;
   border-width: 1px;
   border-color: silver;
   border-style: ridge;
}

.tbllimit {
   border-style: none;
   background-color: #cacaf7;
   color: black;
   width: 100%;
}

.frametitle {
   background-color: #7F7FAA;
   color: white;
   padding: 5px;
   border-width: 2px;
   border-style: ridge;
   border-color: silver;
}

#gnclogo {
   border-style: none;
   width: 179px;
   height: 45px;
   margin-left: 0;
   margin-top: 0;
   border: 0;
   padding: 0;
}

#news {
   float: left;
   width: 20%;
}

#news LI 
{
  list-style-image: url(webding.png);
}

.highlight {
   background-color: #cacaf7;
   color: black;
   padding-bottom: 0.5em;
}

.othernews {
   background-color: white;
   color: black;
}

.dot	{
   border-style: none;
   width: 8px;
   height: 8px;
   margin-left: 8px;
   margin-right: 8px;
}

#content {
   float: left;
   width: 75%;
   margin-right: 1em;
   padding-right: 1em;
   margin-left: 1%;
}

#location {
   padding-left: 0.3em;
}

#language {
   float: right;
   margin-right: 1em;
}

.linktop {
   position: relative;
   top: 0.5em;
}

.history {
   margin-bottom: 2em;
}

#tail P#rss
{
  float: left;
  margin-left: 1em;
}

H1
{
  border-bottom: solid thin #7F7FAA;
}

#download {
   width:580px;
   float:right; 	
   margin-left: 4em;
   margin-right:2em;
   padding: 0.4em;
   background: url(gnc-download.png) no-repeat 96% #7F7FAA;
   border: 1px solid #CACAF7;
   color: white;
}

#download h2 {
   margin-top: 0px;
}

#download img {
   vertical-align: middle;
}

#download ul {
   list-style-type:none;
   margin: 0;
   padding-left: 8px;
}

#download li {
   padding-bottom: 8px;
}

#download a, #download a:visited {
   color: white;
   font-weight: bold;
   text-decoration: none;
}

#download a:hover {
   text-decoration: underline;
}

div.dialog {
   padding-left: 58px;
   border: 1px solid #7F7FAA;
   margin: 1em 2em;
}

div.warning {
   background: url('../images/icons/gnome-dialog-warning.png') 5px 5px no-repeat #E6E6F7;
   padding-right:20p
}

div.note {
   background: url('../images/icons/gnome-dialog-information.png') 5px 5px no-repeat #E6E6F7;
   padding-right:20px;
}


span.bold {
	font-weight:bold;
}

.adscontainer
{
 margin: 30px 60px 30px 20px;
 background:#dedede;
 padding:10px;
 float:center;
 border:solid thin #7F7FAA;
}

h2.adstitle
{
font-size:0.8em;
text-align:center;
}

p.adstext
{
font-size:0.7em;
text-align:center;
}

.gnucash
{
  font-weight:bold;
  font-style:italic;
  color: #7F7FAA;
}

#develdoc {
   width:480px;
   float:right; 	
   margin-left:4em;
   margin-right:2em;
   margin-bottom:2em;
   margin-top:0;
   padding:0.4em;
   background: url(develdoc.png) no-repeat 96% #7F7FAA;
   border: 1px solid #CACAF7;
   color: white;
}

#stabledoc {
   width:480px;
   float:right; 	
   margin-left:4em;
   margin-right:2em;
   margin-bottom:2em;
   margin-top:0;
   padding:0.4em;
   background: url(stabledoc.png) no-repeat 96% #7F7FAA;
   border: 1px solid #CACAF7;
   color: white;
}

h2.download-title {
   margin-top:0px;
   padding-left:40px;
   background: url(download-32x32.png) left no-repeat;
}
