@import url(gnucash.css);

#head, #tail
{
   background-color: #cacaf7;
   color: black;
}

#head A, #tail A
{
  background-color: transparent;
  color: black;
}

A[href], A[href]:visited
{
  color: rgb(8, 0, 109);
}
