@import url(gnucash.css);

#head {
  background-color: white;
  border-bottom: solid thin #9999BB;
  color: rgb(8, 0, 109);
}

#head A, #tail A
{
  background-color: transparent;
  color: rgb(8, 0, 109);
}

A[href], A[href]:visited
{
  color: rgb(8, 0, 109);
}

#tail
{
  background-color: white;
  color: black;
  border-top: solid thin #9999BB;
}