BODY {
   font-family:"Free Sans",helvetica,verdana,arial,clean,sans-serif;
   font-size:0.9em;
   color:black;
   background-color:white;
   border: 0px;
   margin: 0px;
}
IMG {
   border-style:none;
}
.newsborder {
   background-color:#cacaf7;
   color:black;
   border:2px;
   border-color:silver;
   border-style:ridge;
   padding:2px;
   margin-bottom:2em;
}
.newsheader {
   line-height:2em;
   font-size:1.4em;
}
.featurepanel {
   width:50%;
   height:280px;
}
.featureimage {
   float:right;
}
.featureblock {
   background-color:black;
   color:silver;
}
.divider {
   background-color:#ececff;
   text-align:left;
   color:black;
}
TABLE {
   border-width:2px;
   border-style:ridge;
   border-color:silver;
} 
TR {
   background-color:white;
   color:black;
}
.tblbanner {
   background-color:#cacaf7;
   color:black;
   border-style:none;
}
.featureplay {
   text-align:center;
}
.newsinner {
   background-color:#ffffff;
   padding:4px;
   color:black;
}

#head {
   background-color:#666699;
   color: white;
   font-size:0.8em;
}
#head a:link {
   background-color:#666699;
   color:white;
}

#head a:visited {
   background-color:#666699;
   color:white;
}

#head a:active {
   background-color:#666699;
   color:white;
}
#tail {
   font-size:0.8em;
   clear:both;
   float:none;
   background-color: #666699;
   color: white;
   margin-left:0;
   margin-right:0;
}
.tblborder {
   border-style:ridge;
   border-color:silver;
   border-width:1px;
   background-color:#666699;
   color:white;
}
.tblheader {
   background-color:#666699;
   color:white;
   border-width:1px;
   border-color:silver;
   border-style:ridge;
}
.tbllimit {
   border-style:none;
   background-color:#cacaf7;
   color:black;
   width:100%;
}
.frametitle {
   background-color:#666699;
   color:white;
   padding:5px;
   border-width:2px;
   border-style:ridge;
   border-color:silver;
}
#gnclogo {
   border-style: none;
   width: 179px;
   height: 45px;
   margin-left: 0;
   margin-top: 0;
   border: 0;
   padding: 0;
}
#news	{
   float:left;
   width: 20%;
}
.highlight {
   background-color: #cacaf7;
   color:black;
}
.othernews {
   background-color: white;
   color:black;
}
.dot	{
   border-style:none;
   width: 8px;
   height: 8px;
   margin-left: 8px;
   margin-right: 8px;
}
#content {
   float:left;
   width:65%;
   margin-right:1em;
   padding-right:1em;
   margin-left:2em;
   text-align:justify;
}
#location {
   padding-left:0.3em;
}
#language {
   float:right;
   margin-right:1em;
}
.linktop {
   position:relative;
   top:0.5em;
}
.history {
   margin-bottom:2em;
}

